#mapid {width : 50%;  height: 400px; }

body{
  background-color : #222;
}

header{
  width: 100%;
  height: 60px;
    background-color : #222;
  text-align: right;
}

header ul{
  padding-top: 12.5px;
  /*float: right;*/
}

header ul li{
  display: inline-block;
}

#dropdown-arrow{
  display: block;
  transform: scale(2) translateX(1.5px) rotate(90deg);
}

#dropdown-container{
  position: fixed;
  top: 46px;
  right: calc((100% - 1000px)/2);z-index: 10;
  width: 300px;
  height: 150px;
  border: solid 1px #dadada;
  border-radius: 5px 0px 5px 5px;
  background: white;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.17);
  text-align: left;
  /*opacity: 1;*/

  /*transition: all 0.5s;*/
}

@media (max-width: 1000px) and (min-width: 500px) {
  #dropdown-container{
    right: 5%;
  }
}

@media (max-width: 499px){
  #dropdown-container{
    right: 2%;
  }
}

#dropdown-container.hidden{
  display: none;
  /*opacity: 0;*/

  /*transition: all 0.5s;*/
}

#dropdown-container button{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#dropdown-container #dropdown-profile{
  display: inline-block;
  padding-left: 38%;
  height: calc(100% - 35px);
  border-radius: 5px 0 0 0;
  background: url('../img/58.jpg');
  background-position: center center;
  background-size: cover;
}

#dropdown-description ul li{
  display: list-item;
  list-style: none;
}

#dropdown-description ul{
  margin: 0;
  padding: 10px 0 0 10px;
}

#dropdown-description {
  position: relative;
  top: 0;
  float: right;
  width: 184px;
}

#map-container{
  z-index: 2;
  /*width: 400px;*/
  height: 400px;
}




/*Asdaf*/
.siteHeaderTitle{z-index : 90;
  float : left;
  margin-top : 12px;
  margin-left : 240px;
  color : #efefef;
  letter-spacing: 1px;
  font-size : 28px;

}
.extraBold{
  font-weight : 800!important;
}
.containerBox{
  display :flex;
  flex-direction : row;
  width : 100%;
  height : auto;
  background-color : blue;

  justify-content:space-around;

}

.wrapper960{
  display :flex;
  flex-direction : column;
  width : 1;
  height : auto;
  background-color : transparent;

  justify-content:space-between;
}


.wrapperFlex{
  display :flex;
  flex-direction: row;
  margin-top : 50px;

  justify-content: space-between;
}

.tabTitle{
  top : 15px;
    padding : 25px;
  letter-spacing: 2px;
  font-weight : 600;
  font-size : 24px;

}
.DriverBox{
  margin-bottom : 50px;
    padding-bottom: 50px;
  width : 300px;
  height : auto;
  border-radius : 24px;
  background-color : white;
}

.carBox{
    margin-bottom : 50px;
  padding-bottom: 50px;
  width : 300px;
  height : auto;
  border-radius : 24px;
  background-color : white;
}


.listDriver{
overflow-y: scroll;
  padding-bottom : 0px;
  padding-left : 0px;
  min-height : 400px;
  max-height : 500px;
}
.listDriverName{
  font-weight : 500;
  font-size : 22px;
}
.listDriver li{
  padding : 25px;
  padding-top : 12px;
  padding-bottom : 12px;
  width : 100%;
  background-color : #efefef;
  list-style : none;
  cursor :pointer ;
  transition : all 0.2s ease-out;
}

.listDriver li:nth-child(odd){
background-color : #dfdfdf;

}
.listDriver li:nth-child(even){
background-color : #efefef;

}
.listDriver li:hover{
  background-color : orange;
}
.modalBackground{position : fixed;
  z-index : 90;
  width : 100%;
  height : 100%;
  background-color : rgba(0,0,0,0.4);

}


.buttonGroup{
  display : flex;
  flex-direction: row;
  min-height : 20px;
  width : 100%;
  background-color : transparent;

  justify-content: space-between;
}

.btnModalCancel{
  padding : 15px;
  border-color : 10px;
  background-color : #e05038;
}

.buttonGroup button {
  padding : 16px;
  padding-right : 64px;
  padding-left : 64px;
  font-size : 18px;
}

.textData{
  margin-top :10px;
  margin-bottom : 50px;
  font-size : 18px;
  line-height: 24px;
}


.btnModalCancel{
  border-color : 10px;
  background-color : #e05038;
}


.btnModalTilang{
  padding : 15px;
  border-color : 10px;
  background-color : #e05038;
}

.pullRight{
  float : right;
}

.idAsTitle{
  font-size : 30px;
}

.modalInputGroup{
  margin-bottom : 25px;
}

.textBoxDenda{
  width : 100%;
  font-size : 18px;
}
.modalPopup{
  position : fixed;
z-index : 100;
margin-top : 5%;
margin-left : 32%;
padding : 50px;
  min-height : 40%;
  width : 36%;
  border-radius : 26px;background-color : white;
}
